<div class="main-header">
    <div class="logo"></div>
    <div class="header-bar">
        <img src="/assets/img/readvice-logo@2x.png" class="title">
    </div>
    <div class="tools">
        <a href="#" class="hints tasks"><span>10</span></a>
        <a href="#" class="hints alerts"><span>10</span></a>
        <a href="#" class="user">{{getUtenteEmail()}}</a>
    </div>
</div>

<div class="main-body body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <a href="#" class="button back only-icon">&nbsp;</a>
                        <h3 class="page-title cliente">{{getCliente().nome + ' ' + getCliente().cognome}} - Immobile
                        </h3>
                        <div style="float: right">
                            <a href="#" class="button view">Catastali</a>
                            <a [routerLink]="" class="button edit" (click)="goToWizard()">Modifica</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="scheda">
                <div class="scheda-header">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item tipologia abitazione"></div>
                            <div class="item indirizzo">piazza privata Guide Maquiguas, Cervinia</div>
                            <div class="item date"><span>Novembre</span><span>20</span><span>2019</span></div>
                        </div>
                    </div>
                </div>
                <div class="scheda-content">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Proprietà: {{immobile.quota}} %<button
                                        class="button view only-icon"
                                        (click)="openModal('custom-modal-1')">&nbsp;</button></h3>
                                <ul class="item-list half-height">
                                    <li><span>Book Value</span><span>-</span></li>
                                    <li><span>Valore catastale</span><span>-</span></li>
                                    <li><span>Valore commerciale</span><span>-</span></li>
                                    <li><span>Rendita</span><span>{{immobile.dati_catastali ? immobile.dati_catastali.rendita : '-'}}</span>
                                    </li>
                                    <li><span>1ª casa</span><span>{{immobile.prima_casa ? 'Si' : 'No'}}</span></li>
                                </ul>
                            </div>
                            <div class="item">
                                <div class="item-title">Mutuo: <a href="#" class="button view only-icon">&nbsp;</a>
                                </div>
                                <ul class="item-list half-height">
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                    <li><span>Elemento</span><span>valore</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Tasse <span>{{immobile.tasse}}</span></h3>
                                <ul class="item-list half-height">
                                    <li *ngFor="let t of immobile.tasse">
                                        <span>{{t.descrizione_tassa}}</span><span>{{t.importo_annuale}}</span></li>
                                </ul>
                            </div>
                            <div class="item">
                                <h3 class="item-title">Affitti
                                    <span>{{immobile.affitto_dettaglio ? immobile.affitto_dettaglio.importo_mensile : '-'}}</span>
                                </h3>
                                <ul class="item-list half-height">
                                    <li><span>Affittuario</span><span>{{immobile.affitto_dettaglio ? immobile.affitto_dettaglio.descrizione_affittuario : '-'}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="small">immobili di</span>
                    <span class="nome">{{getCliente().nome + ' ' + getCliente().cognome}}</span>
                </div>
            </div>
        </div>
        <div class="list">
            <ul class="lista-immobile">
                <li class="immobile" *ngFor="let immobileLista of immobiliCliente"
                    (click)="apriSchedaImmobile(immobileLista.immobile_id)">
                    <div class="indirizzo">{{immobileLista.indirizzo}},
                        {{immobileLista.civico}}<br>{{immobileLista.cap}} {{immobileLista.citta}}
                        ({{immobileLista.provincia}})</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell abitazione">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                {{immobileLista.quota}}<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <a hef="#" class="button add">immobile</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-quoteproprieta-modal id="custom-modal-1" class="modal-area">
    <div class="scheda modal">
        <div class="scheda-content">
            <div class="scheda-table">
                <div class="scheda-row">
                    <div class="item">
                        <h3 class="item-title">Quote proprietà</h3>
                        <ul class="item-list">
                            <li *ngFor="let coint of getCointestatari()">
                                <span>{{coint.nominativo}}</span><span>{{coint.quota}}%</span></li>
                        </ul>
                        <div class="item-footer">
                            <button (click)="closeModal('custom-modal-1');" class="button no-icon">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-quoteproprieta-modal>

<!-- LE MIE RICHIESTE > NUOVA > RICHIESTA DOCUMENTALRE -->