<ion-header no-border no-padding no-margin>
    <ion-toolbar color="bar" no-padding no-margin>
        <ion-buttons slot="start" class="logo left-side-element" no-padding no-margin> </ion-buttons>
        <ion-title text-left class="header-bar">
            <img src="/assets/img/readvice-logo@2x.png" class="title">
        </ion-title>
        <ion-buttons slot="end" class="tools">
            <a href="#" class="hints tasks"><span>10</span></a>
            <a href="#" class="hints alerts"><span>10</span></a>
            <a href="#" class="user">alessandro.tamborini@readvice.it</a>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <a href="#" class="button back only-icon">&nbsp;</a>
                        <h3 class="page-title cliente">Francesca Palmi - Report</h3>
                        <div style="float: right"><a href="#" class="button upload">Invia scheda</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="report-tab">
                <ul>
                    <li class="active">Generali</li>
                    <li>Analisi</li>
                </ul>
            </div>
            <div class="report-data">
                <div class="table-header">
                    <div class="table-row">
                        <div class="table-cell">Immobile</div>
                        <div class="table-cell">%</div>
                        <div class="table-cell">Categoria</div>
                        <div class="table-cell">Passivi</div>
                        <div class="table-cell">Attivi</div>
                        <div class="table-cell">Totale</div>
                    </div>
                </div>
                <div class="table-body-container">
                    <div class="table-body">
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">Nino Bixio 12, Milano</div>
                            <div class="table-cell">100%</div>
                            <div class="table-cell">A/4</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                    </div>
                </div>
                <div class="table-total-container">
                    <div class="table-total">
                        <div class="table-row">
                            <div class="table-cell">&nbsp;</div>
                            <div class="table-cell">&nbsp;</div>
                            <div class="table-cell">&nbsp;</div>
                            <div class="table-cell">10K &euro; <img src="/assets/img/icon-view-mini@2x.png"></div>
                            <div class="table-cell">10K &euro;</div>
                            <div class="table-cell">10K &euro;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="nome">Passivi</span>
                </div>
            </div>
        </div>
        <div class="list no-footer">
            <ul>
                <li class="report-item">
                    <span class="item">Spese condominiali</span>
                    <span class="item-value">4000€</span>
                </li>
            </ul>
        </div>
    </div>
</ion-content>