<div class="main-body body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <button class="button back only-icon" (click)="goToHome()">&nbsp;</button>
                        <h3 class="page-title cliente">
                            {{sessionService.getCliente().nome + ' ' + sessionService.getCliente().cognome}} - Report
                        </h3>
                        <div style="float: right"><button (click)="generatePdfReport()" class="button upload">Invia
                                scheda</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="report-tab">
                <ul>
                    <li class="active">Generali</li>
                    <li (click)="goToReportAnalisi()">Analisi</li>
                </ul>
            </div>
            <div class="report-data">
                <div class="table-header">
                    <div class="table-row">
                        <div class="table-cell">Immobile</div>
                        <div class="table-cell">%</div>
                        <div class="table-cell">Categoria</div>
                        <div class="table-cell">Passivi</div>
                        <div class="table-cell">Attivi</div>
                        <div class="table-cell">Totale</div>
                    </div>
                </div>
                <div class="table-body-container">
                    <div class="table-body">
                        <div class="table-row" *ngFor="let imm of situazioneImmobili">
                            <div class="table-cell">
                                {{imm.indirizzo + ' ' + imm.civico + ', ' + imm.citta}}</div>
                            <div class="table-cell">{{imm.quota + '%'}}</div>
                            <div class="table-cell">{{imm.codice_tipologia}}</div>
                            <div
                                [ngClass]="{'table-cell text-right': true, 'negative': getTotalePassiviImmobile(imm) < 0, 'positive': getTotalePassiviImmobile(imm) > 0}">
                                {{getCurrency(getTotalePassiviImmobile(imm))}} &euro; <img
                                    src="/assets/img/icon-view-mini@2x.png" (click)="caricaPassiviImmobile(imm)">&nbsp;</div>
                            <div
                                [ngClass]="{'table-cell text-right text-padding': true, 'negative': getTotaleAttiviImmobile(imm) < 0, 'positive': getTotaleAttiviImmobile(imm) > 0}">
                                {{getCurrency(getTotaleAttiviImmobile(imm))}} &euro; <img
                                    *ngIf="getTotaleAttiviImmobile(imm) > 0" src="/assets/img/icon-view-mini@2x.png"
                                    (click)="caricaAttiviImmobile(imm)">&nbsp;</div>
                            <div
                                [ngClass]="{'table-cell text-right text-padding': true, 'negative': getTotaleImmobile(imm) < 0, 'positive': getTotaleImmobile(imm) > 0}">
                                {{getCurrency(getTotaleImmobile(imm))}} &euro;</div>
                        </div>
                    </div>
                </div>
                <div class="table-total-container">
                    <div class="table-total">
                        <div class="table-row">
                            <div class="table-cell">&nbsp;</div>
                            <div class="table-cell">&nbsp;</div>
                            <div class="table-cell">&nbsp;</div>
                            <div
                                [ngClass]="{'table-cell text-right': true, 'negative': getTotalePassiviImmobili() < 0, 'positive': getTotalePassiviImmobili() > 0}">
                                {{getCurrency(getTotalePassiviImmobili())}} &euro; <img
                                    src="/assets/img/icon-view-mini@2x.png" (click)="caricaTotalePassivi()">&nbsp;
                            </div>
                            <div
                                [ngClass]="{'table-cell text-right': true, 'negative': getTotaleAttiviImmobili() < 0, 'positive': getTotaleAttiviImmobili() > 0}">
                                {{getCurrency(getTotaleAttiviImmobili())}} &euro;&nbsp;</div>
                            <div [ngClass]="{'table-cell text-right': true,
                                'negative': getTotaleImmobili() < 0, 'positive': getTotaleImmobili() > 0}">
                                {{getCurrency(getTotaleImmobili())}} &euro;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="nome">{{etichettaColonna}}</span>
                </div>
            </div>
        </div>
        <div class="list no-footer">
            <ul>
                <li class="report-item" *ngFor="let oggetto of oggettiColonnaDestra">
                    <span class="item">{{oggetto.descrizione}}</span>
                    <span class="item-value nowrap" *ngIf="!attiviSelezionato">{{oggetto.valore}} &euro;</span>
                    <span class="item-value" *ngIf="attiviSelezionato">{{oggetto.valore}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>