<ion-header no-border no-padding no-margin>
    <ion-toolbar color="bar" no-padding no-margin>
        <ion-buttons slot="start" class="logo left-side-element" no-padding no-margin> </ion-buttons>
        <ion-title text-left class="header-bar">
            <img src="/assets/img/readvice-logo@2x.png" class="title">
        </ion-title>
        <ion-buttons slot="end" class="tools">
            <a href="#" class="hints tasks"><span>10</span></a>
            <a href="#" class="hints alerts"><span>10</span></a>
            <a href="#" class="user">alessandro.tamborini@readvice.it</a>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="body-no-right-menu wizard">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <a href="#" class="button back only-icon">&nbsp;</a>
                        <h3 class="page-title cliente">Francesca Palmi - Informazioni immobile</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="scheda">
                <div class="scheda-header">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item tipologia abitazione"></div>
                            <div class="item indirizzo">piazza privata Guide Maquiguas, Cervinia</div>
                        </div>
                    </div>
                </div>
                <div class="scheda-content">
                    <div class="scheda-table single-column">
                        <div class="scheda-row">
                            <div class="item">
                                <div class="item-title"><span class="step">3</span> Prima casa <img src="/assets/img/icon-right-arrow@2x.png"> Residente <img src="/assets/img/icon-right-arrow@2x.png"> Dati</div>

                            </div>
                        </div>
                        <div class="scheda-table">
                            <div class="item">
                                <div class="item-list form">
                                    <div class="form-item single">
                                        <label>Tipo affittuario</label>
                                        <select class="select-css">
                                            <option>select 1</option>
                                            <option>select 1</option>
                                            <option>select 1</option>
                                            <option>select 1</option>
                                            <option>select 1</option>
                                        </select>
                                    </div>
                                    <div class="form-item single">
                                        <label>Durata prima scadenza</label>
                                        <div class="type">
                                            <input type="text" placeholder="" value="24"><span>anni</span>
                                        </div>
                                    </div>
                                    <div class="form-item single">
                                        <label>Data inizio</label>
                                        <input type="text" placeholder="" value="24/05/2019">
                                    </div>
                                    <div class="form-item single">
                                        <label>Importo lordo mensile</label>
                                        <div class="type">
                                            <input type="text" placeholder="" value="24"><span>&euro;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-list form">
                                    <div class="form-item ">
                                        <label>Spese condominiali comprese</label><br>
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="form-item single">
                                        <label>IMporto annuo</label>
                                        <div class="type">
                                            <input type="text" placeholder=""><span>%</span>
                                        </div>
                                    </div>
                                    <div class="form-item ">
                                        <label>Cedolare secca</label><br>
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="form-item single">
                                        <label>Aliquota</label>
                                        <div class="type">
                                            <input type="text" placeholder="" value="24"><span>mesi</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scheda-table single-column">
                            <div class="item">
                                <div class="item-list ">
                                    <a href="wizard-destinazione" class="button light back left">indietro</a>
                                    <a href="wizard-dati-catastali" class="button forward right">avanti</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>