<ion-app>
    <!-- HEADER COMUNE A TUTTE LE PAGINE -->
    <div class="main-header" style="z-index: 1000" *ngIf="!isLoginPage()">
        <div class="logo"></div>
        <div class="header-bar">
            <img src="/assets/img/readvice-logo@2x.png" class="title">
        </div>
        <div class="tools">
            <div class="hints tasks"><span>10</span></div>
            <div class="hints alerts"><span>10</span></div>
            <div class="user" (click)="goToProfiloUtente()">{{getUtenteEmail()}}</div>
            <div class="hints logout" (click)="logout()"></div>
        </div>
    </div>
    <!-- FINE HEADER COMUNE -->
    <ion-router-outlet animated="false"></ion-router-outlet>
</ion-app>