<ion-header no-border no-padding no-margin>
    <ion-toolbar color="bar" no-padding no-margin>
        <ion-buttons slot="start" class="logo left-side-element" no-padding no-margin> </ion-buttons>
        <ion-title text-left class="header-bar">
            <img src="/assets/img/readvice-logo@2x.png" class="title">
        </ion-title>
        <ion-buttons slot="end" class="tools">
            <a href="#" class="hints tasks"><span>10</span></a>
            <a href="#" class="hints alerts"><span>10</span></a>
            <a href="#" class="user">alessandro.tamborini@readvice.it</a>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <a href="#" class="button back only-icon">&nbsp;</a>
                        <h3 class="page-title cliente">Francesca Palmi - Piano Ammortamento</h3>
                        <div style="float: right"><a href="#" class="button upload">Invia scheda</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="scheda">
                <div class="scheda-header">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item tipologia abitazione"></div>
                            <div class="item indirizzo">piazza privata Guide Maquiguas, Cervinia</div>
                            <div class="item date"><span>Novembre</span><span>20</span><span>2019</span></div>
                        </div>
                    </div>
                </div>
                <div class="scheda-content ammortamento">
                    <div class="scheda-table single-column">
                        <div class="scheda-row">
                            <div class="item">
                                <div class="overflow-container">
                                    <h3 class="item-title">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">1° anno</div>
                                                <div class="table-cell">importo rata</div>
                                                <div class="table-cell">quota interessi</div>
                                                <div class="table-cell">quota capitale</div>
                                                <div class="table-cell">interessi residui</div>
                                                <div class="table-cell">capitale residuo</div>
                                            </div>
                                        </div>
                                    </h3>
                                    <ul class="item-list full-height">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                        </div>
                                    </ul>
                                    <h3 class="item-title">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">1° anno</div>
                                                <div class="table-cell">importo rata</div>
                                                <div class="table-cell">quota interessi</div>
                                                <div class="table-cell">quota capitale</div>
                                                <div class="table-cell">interessi residui</div>
                                                <div class="table-cell">capitale residuo</div>
                                            </div>
                                        </div>
                                    </h3>
                                    <ul class="item-list full-height">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                        </div>
                                    </ul>
                                    <h3 class="item-title">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">1° anno</div>
                                                <div class="table-cell">importo rata</div>
                                                <div class="table-cell">quota interessi</div>
                                                <div class="table-cell">quota capitale</div>
                                                <div class="table-cell">interessi residui</div>
                                                <div class="table-cell">capitale residuo</div>
                                            </div>
                                        </div>
                                    </h3>
                                    <ul class="item-list full-height">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                        </div>
                                    </ul>
                                    <h3 class="item-title">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">1° anno</div>
                                                <div class="table-cell">importo rata</div>
                                                <div class="table-cell">quota interessi</div>
                                                <div class="table-cell">quota capitale</div>
                                                <div class="table-cell">interessi residui</div>
                                                <div class="table-cell">capitale residuo</div>
                                            </div>
                                        </div>
                                    </h3>
                                    <ul class="item-list full-height">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                        </div>
                                    </ul>
                                    <h3 class="item-title">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">1° anno</div>
                                                <div class="table-cell">importo rata</div>
                                                <div class="table-cell">quota interessi</div>
                                                <div class="table-cell">quota capitale</div>
                                                <div class="table-cell">interessi residui</div>
                                                <div class="table-cell">capitale residuo</div>
                                            </div>
                                        </div>
                                    </h3>
                                    <ul class="item-list full-height">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell">rata n.#</div>
                                                <div class="table-cell">&euro; 749,83</div>
                                                <div class="table-cell">&euro; 107,50</div>
                                                <div class="table-cell">&euro; 642,33</div>
                                                <div class="table-cell">&euro; 11.855,55</div>
                                                <div class="table-cell">&euro; 149.357,67</div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="small">immobili di</span>
                    <span class="nome">Paolo Rossi</span>
                </div>
            </div>
        </div>
        <div class="list">
            <ul class="lista-immobile">
                <li class="immobile selected">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell abitazione">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell commerciale">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell parcheggio">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell magazzino">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell abitazione">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell commerciale">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell parcheggio">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell magazzino">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <a hef="#" class="button add">immobile</a>
                </div>
            </div>
        </div>
    </div>
</ion-content>