<!--<ion-header no-border no-padding no-margin>
  <ion-toolbar color="bar" no-padding no-margin>
    <ion-buttons slot="start" class="logo left-side-element"  no-padding no-margin> </ion-buttons>
    <ion-title text-left class="header-bar">
      <img src="/assets/img/readvice-logo@2x.png" class="title">
    </ion-title>
    <ion-buttons slot="end" class="tools">
        <a href="#" class="hints tasks"><span>10</span></a>
        <a href="#" class="hints alerts"><span>10</span></a>
        <a href="#" class="user">alessandro.tamborini@readvice.it</a>
    </ion-buttons>
</ion-toolbar>
</ion-header>-->

<div class="main-header">
    <div class="logo"></div>
    <div class="header-bar">
        <img src="/assets/img/readvice-logo@2x.png" class="title">
    </div>
    <div class="tools">
        <a href="#" class="hints tasks"><span>10</span></a>
        <a href="#" class="hints alerts"><span>10</span></a>
        <a href="#" class="user">alessandro.tamborini@readvice.it</a>
    </div>
</div>

<div class="main-body body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <span>filtra per:</span>
                        <input type="text" placeholder="nome">
                        <input type="text" placeholder="C.F.">
                        <a href="#" class="button search">&nbsp;</a>
                        <a href="#" style="float: right" class="button add">cliente</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="content home-list">
            <div class="header">
                <div class="dettaglio-cliente">
                    <div class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">{{clienteScelto.numero_proprieta}}</span></div>
                                <div class="item bv"><span class="bv_label">Book Value (&euro;)</span><span class="bv_value">{{clienteScelto.book_value}}K</span><a href="#" class="button view only-icon">&nbsp;</a></div>
                                <div class="item anagrafica"><span class="nome">{{clienteScelto.nome}} {{clienteScelto.cognome}}</span><span class="cf">{{clienteScelto.codice_fiscale}}</span><span class="email">paolo.rossi@domain.it</span></div>
                                <div class="item tools"><a href="#" class="button edit full-width">Modifica</a><a href="#" class="button report full-width">Report</a></div>
                            </div>
                        </div>
                        <div class="status red"></div>
                    </div>
                </div>
                <div class="list-title">numero clienti ({{clienti.length}}):</div>
            </div>
            <div class="list">
                <ul class="lista-cliente">
                    <li *ngFor="let clienteLista of clienti" class="cliente" (click)="caricaCliente(clienteLista)">
                        <div class="cliente-table">
                            <div class="cliente-row" >
                                <div class="item immobili"><span class="badge">{{clienteLista.numero_proprieta}}</span></div>
                                <div class="item bv"><span class="bv_value">{{clienteLista.book_value}}K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">{{clienteLista.nome}} {{clienteLista.cognome}}</span><span class="cf">{{clienteLista.codice_fiscale}}</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status red"></div>
                    </li>
                    <!-- <li class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_value">450K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status red"></div>
                    </li>
                    <li class="cliente selected">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_value">450K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status green"></div>
                    </li>
                    <li class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_value">450K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status green"></div>
                    </li>
                    <li class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_value">450K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status red"></div>
                    </li>
                    <li class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">?</span></div>
                                <div class="item bv"><span class="bv_value request-pending">Richiesta inviata</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status"></div>
                    </li>
                    <li class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_value">450K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status green"></div>
                    </li>
                    <li class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_value">450K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status orange"></div>
                    </li>
                    <li class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_value">450K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status red"></div>
                    </li>
                    <li class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_value">450K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status green"></div>
                    </li> -->
                </ul>
            </div>

        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="small">immobili di</span>
                    <span class="nome">{{clienteScelto.nome}} {{clienteScelto.cognome}}</span>
                </div>
            </div>
        </div>
        <div class="list">
            <ul class="lista-immobile">
                <li class="immobile" *ngFor="let immobileLista of immobiliCliente">
                    <div class="indirizzo">{{immobileLista.indirizzo}}, {{immobileLista.civico}}<br>{{immobileLista.cap}} {{immobileLista.citta}} ({{immobileLista.provincia}})</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell abitazione">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell commerciale">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell parcheggio">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell magazzino">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell abitazione">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell commerciale">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell parcheggio">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell magazzino">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <a hef="#" class="button add">immobile</a>
                </div>
            </div>
        </div>
    </div>
</div>
