<!--<ion-header no-border no-padding no-margin>
  <ion-toolbar color="bar" no-padding no-margin>
    <ion-buttons slot="start" class="logo left-side-element"  no-padding no-margin> </ion-buttons>
    <ion-title text-left class="header-bar">
      <img src="/assets/img/readvice-logo@2x.png" class="title">
    </ion-title>
    <ion-buttons slot="end" class="tools">
        <a href="#" class="hints tasks"><span>10</span></a>
        <a href="#" class="hints alerts"><span>10</span></a>
        <a href="#" class="user">alessandro.tamborini@readvice.it</a>
    </ion-buttons>
</ion-toolbar>
</ion-header>-->

<div class="main-header">
    <div class="logo"></div>
    <div class="header-bar">
        <img src="/assets/img/readvice-logo@2x.png" class="title">
    </div>
    <div class="tools">
        <a href="#" class="hints tasks"><span>10</span></a>
        <a href="#" class="hints alerts"><span>10</span></a>
        <a href="#" class="user">alessandro.tamborini@readvice.it</a>
    </div>
</div>

<div class="main-body body-no-right-menu">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <a href="#" class="button back only-icon">&nbsp;</a>
                        <h3 class="page-title cliente">Francesca Palmi - Report</h3>
                        <div style="float: right"><a href="#" class="button upload">Invia scheda</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="report-tab">
                <ul>
                    <li>Generali</li>
                    <li class="active">Analisi</li>
                </ul>
            </div>
            <div class="report-analisi">
                <div class="grafici">
                    <img src="/assets/img/grafici-placeholder.jpg">
                </div>
            </div>
        </div>
    </div>
    <!--<div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="nome">Passivi</span>
                </div>
            </div>
        </div>
        <div class="list no-footer">
            <ul>
                <li class="report-item">
                    <span class="item">Spese condominiali</span>
                    <span class="item-value">4000€</span>
                </li>
            </ul>
        </div>
    </div>-->
</div>