<div class="main-body body">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <button class="button back only-icon" (click)="apriSchedaImmobile(0)">&nbsp;</button>
                        <h3 class="page-title cliente">
                            {{sessionService.getCliente().nome + ' ' + sessionService.getCliente().cognome}} - Catastali
                        </h3>
                        <div style="float: right"><button (click)="generatePdfCatasto()" class="button upload">Invia
                                scheda</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="scheda">
                <div class="scheda-header">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div [ngClass]="getIconaClasseImmobileItem(immobile ? immobile.codice_tipologia : '')">
                            </div>
                            <div class="item indirizzo">
                                {{immobile.indirizzo + ' ' + immobile.civico + ', ' + immobile.citta}}</div>
                            <div class="item date">{{immobile.data_aggiornamento | raDateFormat_gg_mm_aaaa}}</div>
                        </div>
                    </div>
                </div>
                <div class="scheda-content">
                    <div class="scheda-table single-column">
                        <div class="scheda-row">
                            <div class="item">
                                <h3 class="item-title">Dati catastali</h3>
                                <ul class="item-list full-height">
                                    <li><span>Sezione
                                            urbana</span><span>{{immobile.dati_catastali.sezione}}</span>
                                    </li>
                                    <li><span>Foglio</span><span>{{immobile.dati_catastali.foglio}}</span>
                                    </li>
                                    <li><span>Particella</span><span>{{immobile.dati_catastali.particella}}</span>
                                    </li>
                                    <li><span>Sub</span><span>{{immobile.dati_catastali.subalterno}}</span>
                                    </li>
                                    <li ><span>Zona
                                            cens.</span><span>{{immobile.dati_catastali.zona}}</span>
                                    </li>
                                    <li class="hidden"><span>Micro
                                            zona</span><span>{{immobile.dati_catastali.micro_zona}}</span>
                                    </li>
                                    <li><span>Categoria</span><span>{{immobile.dati_catastali.categoria}}</span>
                                    </li>
                                    <li><span>Classe</span><span>{{immobile.dati_catastali.classe}}</span>
                                    </li>
                                    <li><span>Sup catastale</span><span>{{immobile.dati_catastali.superficie_totale}} Mq</span></li>
                                    <li>
                                        <span>Escluse le aree
                                            coperte</span><span>{{immobile.dati_catastali.superficie_interni}} Mq</span>
                                    </li>
                                    <li><span>Rendita</span><span>{{getCurrency(immobile.dati_catastali.rendita)}} €</span>
                                    </li>
                                    <li>
                                        <span>Indirizzo</span>
                                        <span>{{immobile.indirizzo + ' ' + immobile.civico + ', ' + immobile.citta + ' (' + immobile.provincia + ')' }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <h3 class="item-title">Dati OMI</h3>
                                <ul class="item-list half-height" *ngIf="immobile.omi != undefined">
                                    <li><span>Valore Omi</span><span>{{getCurrency(immobile.omi.valore_omi)}} €</span></li>
                                    <li><span>Valore Pot,</span><span>{{getCurrency(immobile.omi.valore_pot)}} €</span></li>
                                    <li><span>Affitto Pot.</span><span>{{getCurrency(immobile.omi.affitto_pot)}} €</span></li>
                                    <li hidden><span>Ammortamento
                                            decadenza</span><span>{{immobile.omi.ammortamento_decadenza}}</span></li>
                                </ul>
                                <ul class="item-list half-height" *ngIf="false">
                                    <li><span>Sezione OMI assente</span></li>
                                </ul>
                                <h3 class="item-title">Asse ereditario</h3>
                                <ul class="item-list half-height" *ngIf="immobile.successione != undefined">
                                    <li><span>Valore catastale</span><span>{{getCurrency(immobile.successione.valore_catastale)}} €</span></li>
                                    <li><span>Imposta</span><span>{{getCurrency(immobile.successione.imposta_successione)}} €</span></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="small">immobili di</span><span
                        class="nome">{{sessionService.getCliente().nome + ' ' + sessionService.getCliente().cognome}}</span>
                </div>
            </div>
        </div>
        <div class="list">
            <ul class="lista-immobile">
                <li class="immobile" *ngFor="let immobileLista of sessionService.getImmobiliCliente()"
                    (click)="apriSchedaImmobile(immobileLista.proprieta_id)">
                    <div class="indirizzo">{{immobileLista.indirizzo}},
                        {{immobileLista.civico}}<br>{{immobileLista.cap}} {{immobileLista.citta}}
                        ({{immobileLista.provincia}})</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div [ngClass]="getIconaClasseImmobileCell(immobileLista.codice_tipologia)">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                {{immobileLista.quota}}<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <button *ngIf="this.sessionService.getCliente() &&
                                this.sessionService.getCliente().cliente_id &&
                                this.sessionService.getCliente().cliente_id != 0" class="button add"
                        (click)="goToWizardNew()">immobile</button>
                </div>
            </div>
        </div>
    </div>
</div>