/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



/* Custom variables */

$default-size: 80px;
$default-right-area-width: 260px;
$default-content-area-left-margin: 30px;
$default-content-area-right-margin: 60px;
$default-content-list-vertical-position: 130px;

$highlight-text-color: #104D77;
$label-color:       #707070;
$grey-1:            #ebebeb;
$grey-highlight:    #4A4A4A;
$default-border-grey: #bebebe;
$grey-default:      #707070;

$default-area-selected: #EDF4F8;

$default-green:     #00AA2D;
$default-red:       #EB6A5A;

$border-right: #fff;;
$border-left: rgba(0,0,0,.1);

$default-gradient:  linear-gradient(#ffffff, #f1f1f1);

$colors: (
    primary:    #104D77,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    bar:        #EDF4F8
);

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i&display=swap');

:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Rubik', sans-serif;
    font-family: var(--ion-font-family) !important;
}

/* Custom style */

.table {
    display: table
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    width: 100%;
    li {
       
        div {
            
            
        }
    }
}

.button {
    font-family: Arial, sans-serif;
    background: $highlight-text-color;
    color: #fff;
    border-radius: 25px;
    padding: 9px 16px 10px 36px;
    display: inline-block;
    font-size: .7em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration:  none;
    position: relative;
    top: -2px;
    margin: 3px 0;
    text-align: center;
    background-position: 12px center;
    background-repeat: no-repeat;
    &.search {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-image: url('/assets/img/icon-search@2x.png');
        padding-left: 22px;
    }
    &.download {
        background-image: url('/assets/img/icon-download@2x.png');
    }
    &.report {
        background-image: url('/assets/img/icon-report@2x.png');
    }
    &.edit {
        background-image: url('/assets/img/icon-edit@2x.png');
    }
    &.view {
        background-image: url('/assets/img/icon-view@2x.png');
        &.only-icon {
            padding-left: 24px;
        }
    }
    &.add {
        background-image: url('/assets/img/icon-add@2x.png');
    }
}
.title {
    margin-left: 20px;
}

.logo {
    width: 88px;
    height: $default-size;
    //background: #EB6A5A;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/img/logo@2x.png') ;
    background-size: cover;
    text-align: center;
}
.header-bar {
    background: #EDF4F8;
}
.tools {
    margin-right: 30px;
}
.hints {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0 10px;
    span {
        display: block;
        position: absolute;
        text-align: center;
        top: -10px;
        right: -10px;
        color: #fff;
        background: #f00;
        //padding: 4px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 11px;
        font-weight: bold;
        
        border-radius: 50%;
    }
}
.tasks {
    background-image: url('/assets/img/tasks@2x.png');
    span  {
        background-color: $default-green;
    }
}
.alerts {
    background-image: url('/assets/img/alerts@2x.png') ;
    span {
        background-color: $default-red;
    }
}
.user {
     display: inline-block;
    //width: 40px;
    height: 40px;
    background-image: url('/assets/img/user-thumb@2x.png');
    background-repeat: no-repeat;
    background-position: leftcenter;
    background-size: contain;
    position: relative;
    margin: 0 10px;
    padding-left: 50px;
    line-height: 40px;
    font-size: 1.2em;
    color: $grey-default;
    text-decoration: none;
}
ion-content.body {
    --background:  url('/assets/img/dashboard-header@2x.png') right top no-repeat ;
}

.left-menu {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    width: $default-size;
    background: #EB6A5A;
    .base {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #666;
        border-top-right-radius: $default-size/2;
    }
}

.content-area {
    position: absolute;
    top: 0;
    bottom: 0;
    //left: $default-size;
    left: 0;
    right: $default-right-area-width;
    
    .tool-area {
        //background-color: #0f0;
        position: absolute;
        left: $default-content-area-left-margin;
        right: $default-content-area-right-margin;
        height: 80px;
        .tool-table {
            height: 100%;
            display: table;
            width: 100%;
        }
        .tool-row {
            display: table-row;
        }
        .tool {
            display: table-cell;
            vertical-align: middle;
            span {
                font-size: .8em;
                margin-right: 15px;
            }
            input {
                font-size: .8em;
                border: solid 1px  $grey-1;
                border-right: none;
                padding: 8px 10px 6px;
                width: 180px;
            }
        }
    }
    .content {
        position: absolute; 
        top: 80px;
        bottom: 0;
        width: 100%;
        &:before {
            content: "";
            position: absolute; 
            top: $default-content-list-vertical-position;
            left: 0;
            width: 100%;
            height: 206px;
            background-image: url('/assets/img/list-shadow-before@2x.png') ;
            background-repeat: no-repeat;
            background-position: center top;
            z-index: 10;
        }
        .header {
            position: absolute;
            top: 0;
            height: $default-content-list-vertical-position;
            left: $default-content-area-left-margin;
            right: $default-content-area-right-margin;
            //background-color: #fff;
            overflow: auto;
            .dettaglio-cliente {
                display: table;
                width: 100%;
            }
            .cliente {
                padding: 0;
                position: relative;
                margin-bottom: 20px;
                width: 100%;
                padding-left: 15px;
                .cliente-table {
                    z-index: 10;
                    display: table;
                    width: 100%;
                    
                    position: relative
                }
                .cliente-row {
                    display: table-row;
                }
                .item {
                    background: #fff;
                    background-image: $default-gradient;
                    border: solid 1px $grey-highlight;
                    border-right:solid 1px $border-right;
                    border-left: solid 1px $border-left;
                    height: 90px;
                    padding: 0 15px;
                    width: auto;
                    display: table-cell;
                    vertical-align: middle;
                    &:last-of-type {
                        border-right: solid 1px $grey-highlight;
                        border-radius: 0 10px 10px 0;
                    }
                    &:first-of-type {
                        border-left: solid 1px $grey-highlight;
                        border-radius:  10px 0 0 10px ;
                    }
                    &.immobili {
                        width: 15%;
                        background-image: url('/assets/img/home-icon@2x.png'), $default-gradient;
                        background-repeat: no-repeat, no-repeat;
                        background-position: 15px center, 0 0;
                        text-align: right;
                        .badge {
                            background: $highlight-text-color;
                            color: #fff;
                            border-radius: 9px;
                            display: inline-block;
                            
                            padding: 4px 8px;
                            font-size: .8em;
                        }
                    }
                    &.bv {
                        width: 22%;
                        
                            .view {
                                float: right;
                            }
                    }
                    &.anagrafica {
                         width: 40%;
                    }
                    &.tools {
                        width: auto;
                        .button {
                            width: 100%;
                            margin: 4px 0;
                        }
                    }
                    span {
                        display: block;
                         &.bv_label{
                            font-size: 0.7em;
                            padding-bottom: 5px;
                            color: $label-color;
                        }
                        &.bv_value{
                            font-size: 1.5em;
                            color: $highlight-text-color;
                            float: left;
                            margin-right: 5px;
                        }
                        &.nome{
                            color: $highlight-text-color;
                        }
                        &.cf {
                            font-size: .75em;
                            color: $label-color;
                        }
                        &.email{
                            font-size: .9em;
                            margin-top: 10px;
                            color: $highlight-text-color;
                        }
                    }
                }
                .status {
                    position: absolute; 
                    top: 0;
                    left: 0;
                    height: 40px; 
                    width: 60px;
                    display: block;
                    background: #ccc;
                    padding: 0;
                    z-index: 0;
                    border-radius: 10px;
                    border: solid 1px #ccc;
                    &.red {
                        background: #f00;

                    }
                    &.green {
                        background: #00AA2D;

                    }
                    &.orange {
                        background: #FF5700;

                    }
                }
            }
        }
        
        .list {
            position: absolute;
            top: $default-content-list-vertical-position;
            padding-top: 15px;
            //border-top: solid 1px #ccc;
            left: $default-content-area-left-margin;
            right: $default-content-area-right-margin;
            bottom: 0;
            //background-color: #0ff;
            overflow: auto;
            
            .lista-cliente {
                display: table;
            }
            .cliente {
                padding: 0;
                position: relative;
                margin-bottom: 20px;
                width: 100%;
                padding-left: 15px;
                .cliente-table {
                    z-index: 10;
                    display: table;
                    width: 100%;
                    
                    position: relative
                }
                .cliente-row {
                    display: table-row;
                }
                .item {
                    background: #fff;
                    background-image: $default-gradient;
                    border: solid 1px $default-border-grey;
                    border-right:solid 1px $border-right;
                    border-left: solid 1px $border-left;
                    height: 46px;
                    padding: 0 15px;
                    width: auto;
                    display: table-cell;
                    vertical-align: middle;
                    &:last-of-type {
                        border-right: solid 1px $default-border-grey;
                        border-radius: 0 10px 10px 0;
                    }
                    &:first-of-type {
                        border-left: solid 1px $default-border-grey;
                        border-radius:  10px 0 0 10px ;
                    }
                    &.immobili {
                        width: 15%;
                        background-image: url('/assets/img/home-icon@2x.png'), $default-gradient;
                        background-repeat: no-repeat, no-repeat;
                        background-position: 15px center, 0 0 ;
                        background-size: 22px auto, 100%;
                        text-align: right;
                        .badge {
                            background: $highlight-text-color;
                            color: #fff;
                            border-radius: 9px;
                            display: inline-block;
                            padding: 4px 8px;
                            font-size: .8em;
                        }
                    }
                    &.bv {
                        width: 22%;
                    }
                    &.anagrafica {
                        width: 40%;
                    }
                    &.date {
                        text-align: center;
                        width: auto;
                    }
                    span {
                        display: block;
                        &.bv_label{
                            font-size: .7em;
                            color: $label-color;
                        }
                        &.bv_value{
                            color: $highlight-text-color;
                        }
                        &.nome{
                            color: $highlight-text-color;
                        }
                        &.cf {
                             font-size: .6em;
                            color: $label-color;
                        }
                        &.email{

                        }
                    }
                }
                .status {
                    position: absolute; 
                    top: 0;
                    left: 0;
                    height: 40px; 
                    width: 60px;
                    display: block;
                    background: #ccc;
                    padding: 0;
                    z-index: 0;
                    border-radius: 10px;
                    border: solid 1px #ccc;
                    &.red {
                        background: #f00;

                    }
                    &.green {
                        background: #00AA2D;

                    }
                    &.orange {
                        background: #FF5700;

                    }
                }
                &.selected {
                    .item {
                        background-image: none;
                        background-color: $default-area-selected;
                    }
                }
            }
        }

        .scheda {
            position: absolute;
            top: 0;
            bottom:  $default-content-area-right-margin;
            left: $default-content-area-left-margin;
            right: $default-content-area-left-margin;
            background-color: #fff;
            overflow: auto;
        }
    }
}

.right-area {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $default-right-area-width;
    .header {
        background: #fff;
        width: 100%;
        height: 80px;
        display: table;
        border-top-left-radius: 50px;
        border: solid 1px #ccc;
        position: relative;
        &:after {
            content: "";
            position: absolute; 
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 6px;
            background-image: url('/assets/img/shadow-before@2x.png') ;
            background-repeat: repeat-x;
            background-position: left top;
            z-index: 10;
        }
    }
    .header-cell {
        display: table-cell;
        vertical-align: middle;
        padding: 20px 0 0 30px;
        span {
            display: block;
            &.small {
                font-size: .7em;
                color: $label-color;
            }
            &.nome {
                color: $highlight-text-color;
            }
        }
    }
    .list {
        background-color:#fff;
        overflow: auto;
        position: absolute;
        top: 80px;
        bottom: 60px;
        width: 100%;
        border-left: solid 1px #ccc;
    }
    .immobile {
        padding: 20px 0 0 10px;
        border-bottom: solid 1px #ccc;
        position: relative;
        height: 90px;
        .indirizzo {
            font-size: .8em;
            padding-left: 20px;
            background: url('/assets/img/icon-position@2x.png') no-repeat left top;

        }
        .tipologia, .quota {
            position: absolute;
            height: 45px;
            width: 60px;
            text-align:center;
            border-left: solid 1px #ccc;
            right: 0;
        }
        .tipologia {
            border-bottom: solid 1px #ccc;
            top: 0;
            .abitazione {
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('/assets/img/icon-abitazione@2x.png') ;
            }
            .parcheggio {
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('/assets/img/icon-parcheggio@2x.png') ;
            }
            .magazzino {
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('/assets/img/icon-magazzino@2x.png') ;
            }
            .commerciale {
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('/assets/img/icon-commerciale@2x.png') ;
            }
        }
        .quota {
            bottom: 0;
        }
    }
    .footer {
        background-color:#fff;
        overflow: auto;
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 100%;
        border-left: solid 1px #ccc;
        border-top: solid 1px #ccc;
        text-align: center;
        &:before {
            content: "";
            position: absolute; 
            top: -6px;
            left: 0;
            width: 100%;
            height: 6px;
            background-image: url('/assets/img/shadow-after@2x.png') ;
            background-repeat: repeat-x;
            background-position: left top;
            z-index: 10;
        }
    }
}



