/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



/* Custom variables */

$default-size: 90px;
$default-right-area-width: 260px;
$default-content-area-left-margin: 30px;
$default-content-area-right-margin: 60px;

$highlight-text-color: #104D77;
$label-color: #707070;

/* Custom style */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    width: 100%;
    li {
       
        div {
            
            
        }
    }
}

.title {
    margin-left: 20px;
}

.logo {
    width: $default-size;
    height: $default-size;
    background: #EB6A5A;
    text-align: center;
}

.left-menu {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    width: $default-size;
    background: #EB6A5A;
    .base {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #666;
        border-top-right-radius: $default-size/2;
    }
}

.content-area {
    position: absolute;
    top: 0;
    bottom: 0;
    //left: $default-size;
    left: 0;
    right: $default-right-area-width;
    //background: #f0f;
    .tool-area {
        //background-color: #0f0;
        position: absolute;
        left: $default-content-area-left-margin;
        right: $default-content-area-right-margin;
        height: 10%;
        .tool-table {
            height: 100%;
            display: table;
            width: 100%;
        }
        .tool-row {
            display: table-row;
        }
        .tool {
            display: table-cell;
                    vertical-align: middle;

        }
    }
    .content {
        position: absolute; 
        top: 10%;
        bottom: 0;
        width: 100%;
        .header {
            position: absolute;
            top: 0;
            height: 150px;
            left: $default-content-area-left-margin;
            right: $default-content-area-right-margin;
            background-color: #fff;
            overflow: auto;
            .dettaglio-cliente {
                display: table;
                width: 100%;
            }
            .cliente {
                padding: 0;
                position: relative;
                margin-bottom: 20px;
                width: 100%;
                padding-left: 15px;
                .cliente-table {
                    z-index: 10;
                    display: table;
                    width: 100%;
                    
                    position: relative
                }
                .cliente-row {
                    display: table-row;
                }
                .item {
                    background: #fff;
                    border-left: solid 1px #ccc;
                    border-top: solid 1px #ccc;
                    border-bottom: solid 1px #ccc;
                    height: 90px;
                    padding: 0 15px;
                    width: auto;
                    display: table-cell;
                    vertical-align: middle;
                    &:last-of-type {
                        border-right: solid 1px #ccc;
                        border-radius: 0 10px 10px 0;
                    }
                    &:first-of-type {
                        border-radius:  10px 0 0 10px ;
                    }
                    &.immobili {
                        width: 13%;
                    }
                    &.bv {
                        width: 25%;
                    }
                    &.anagrafica {
                        // auto
                    }
                    &.tools {
                        width: 10%;
                    }
                    span {
                        display: block;
                         &.bv_label{
                            font-size: .7em;
                            color: $label-color;
                        }
                        &.bv_value{
                            font-size: 1.2em;
                            color: $highlight-text-color;
                        }
                        &.nome{
                            color: $highlight-text-color;
                        }
                        &.cf {
                            font-size: .75em;
                            color: $label-color;
                        }
                        &.email{
                            font-size: .9em;
                            margin-top: 10px;
                            color: $highlight-text-color;
                        }
                    }
                }
                .status {
                    position: absolute; 
                    top: 0;
                    left: 0;
                    height: 40px; 
                    width: 60px;
                    display: block;
                    background: #ccc;
                    padding: 0;
                    z-index: 0;
                    border-radius: 10px;
                    border: solid 1px #ccc;
                    &.red {
                        background: #f00;

                    }
                    &.green {
                        background: #00AA2D;

                    }
                    &.orange {
                        background: #FF5700;

                    }
                }
            }
        }
        .list {
            position: absolute;
            top: 150px;
            padding-top: 15px;
            border-top: solid 1px #ccc;
            left: $default-content-area-left-margin;
            right: $default-content-area-right-margin;
            bottom: 0;
            //background-color: #0ff;
            overflow: auto;
            .lista-cliente {
                display: table;
            }
            .cliente {
                padding: 0;
                position: relative;
                margin-bottom: 20px;
                width: 100%;
                //height: 30px;
                padding-left: 15px;
                /*&.status-red {
                    background: #f00;
                }*/
                .cliente-table {
                    z-index: 10;
                    display: table;
                    width: 100%;
                    
                    position: relative
                }
                .cliente-row {
                    display: table-row;
                }
                .item {
                    background: #fff;
                    border-left: solid 1px #ccc;
                    border-top: solid 1px #ccc;
                    border-bottom: solid 1px #ccc;
                    height: 46px;
                    padding: 0 15px;
                    width: auto;
                    display: table-cell;
                    vertical-align: middle;
                    &:last-of-type {
                        border-right: solid 1px #ccc;
                        border-radius: 0 10px 10px 0;
                    }
                    &:first-of-type {
                        border-radius:  10px 0 0 10px ;
                    }
                    &.immobili {
                        width: 13%;
                    }
                    &.bv {
                        width: 25%;
                    }
                    &.anagrafica {

                    }
                    &.date {
                        width: 10%;
                    }
                    span {
                        display: block;
                        &.bv_label{
                            font-size: .7em;
                            color: $label-color;
                        }
                        &.bv_value{
                            color: $highlight-text-color;
                        }
                        &.nome{
                            color: $highlight-text-color;
                        }
                        &.cf {
                             font-size: .6em;
                            color: $label-color;
                        }
                        &.email{

                        }
                    }
                }
                .status {
                    position: absolute; 
                    top: 0;
                    left: 0;
                    height: 40px; 
                    width: 60px;
                    display: block;
                    background: #ccc;
                    padding: 0;
                    z-index: 0;
                    border-radius: 10px;
                    border: solid 1px #ccc;
                    &.red {
                        background: #f00;

                    }
                    &.green {
                        background: #00AA2D;

                    }
                    &.orange {
                        background: #FF5700;

                    }
                }
            }
        }

        .scheda {
            position: absolute;
            top: 0;
            bottom:  $default-content-area-right-margin;
            left: $default-content-area-left-margin;
            right: $default-content-area-left-margin;
            background-color: #fff;
            overflow: auto;
        }
    }
}

.right-area {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $default-right-area-width;
    background: #ff0;
    .header {
        width: 100%;
        height: 100px;
    }
    .list {
        background-color:#fff;
        overflow: auto;
        position: absolute;
        top: 100px;
        bottom: 100px;
        width: 100%;
    }
}



