<ion-header no-border no-padding no-margin>
  <ion-toolbar color="primary"  no-padding no-margin>
    <ion-buttons slot="start" class="logo left-side-element"  no-padding no-margin> </ion-buttons>
    <ion-title text-left class="header-bar">
      <img src="/assets/img/readvice-logo@2x.png" class="title">
    </ion-title>
    <ion-buttons slot="end" class="tools">
        <a href="#" class="hints tasks"><span>10</span></a>
        <a href="#" class="hints alerts"><span>10</span></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="left-menu left-side-element">
        <div class="base">
            <ul>
                <li><div routerLink="/dashboard" routerDirection="root">sd</div></li>
                <li><div>sd</div></li>
                <li><div>sd</div></li>
                <li><div>sd</div></li>
            </ul>
        </div>
    </div>
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        filtra per: <input type="text"><input type="text"><a href="#" class="button submit">&nbsp;</a><a href="#" style="float: right" class="button">cliente</a>

                    </div>    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <div class="dettaglio-cliente">
                    <div class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_label">Book Value (&euro;)</span><span class="bv_value">450K</span><a href="#" class="button eye">dettagli</a></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span><span class="email">paolo.rossi@domain.it</span></div>
                                <div class="item tools"><a href="#" class="button">Modifica</a><br><a href="#" class="button">Report</a></div>
                            </div>
                        </div>
                        <div class="status red"></div>
                    </div>
                </div>
            </div>
            <div class="list">
                <ul class="lista-cliente">
                    <li class="cliente">
                        <div class="cliente-table">
                            <div class="cliente-row">
                                <div class="item immobili"><span class="badge">4</span></div>
                                <div class="item bv"><span class="bv_value">450K</span><span class="bv_label">Book Value (&euro;)</span></div>
                                <div class="item anagrafica"><span class="nome">Paolo Rossi</span><span class="cf">PLARSS80A01L219Q</span></div>
                                <div class="item date"><span class="date">20/06/2019</span></div>
                            </div>
                        </div>
                        <div class="status red"></div>
                    </li>
                    
                </ul>
            </div>

        </div>
    </div>
    <div class="right-area">
        <div class="header">
            <div class="row">
                <div class="header-cell">
                    <span class="small">immobili di</span>
                    <span class="nome">Paolo Rossi</span>
                </div>
            </div>
        </div>
        <div class="list">
            <ul class="lista-immobile">
                <li class="immobile">
                    <div class="indirizzo">Via F.lli Rosselli, 7<br>57100 Cecina (LI)</div>
                    <div class="tipologia table">
                        <div class="row">
                            <div class="cell casa">
                            </div>
                        </div>
                    </div>
                    <div class="quota table">
                        <div class="row">
                            <div class="cell">
                                27<small>%</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer table">
            <div class="row">
                <div class="cell">
                    <a hef="#" class="button">immobile</a>
                </div>
            </div>
        </div>
    </div>
</ion-content>
