<div class="main-header">
    <div class="logo"></div>
    <div class="header-bar">
        <img src="/assets/img/readvice-logo@2x.png" class="title">
    </div>
    <div class="tools">
        <a href="#" class="hints tasks"><span>10</span></a>
        <a href="#" class="hints alerts"><span>10</span></a>
        <a href="#" class="user">alessandro.tamborini@readvice.it</a>
    </div>
</div>

<div class="main-body  body-no-right-menu wizard">
    <div class="content-area">
        <div class="tool-area">
            <div class="tool-table">
                <div class="tool-row">
                    <div class="tool">
                        <button (click)="goToHome()" class="button back only-icon">&nbsp;</button>
                        <h3 class="page-title no-icon">Modifica password</h3>

                    </div>
                </div>

            </div>
        </div>
        <div class="content">
            <div class="scheda">
                <div class="scheda-header">
                    <div class="scheda-table">
                        <div class="scheda-row">
                            <div class="item tipologia cliente"></div>
                            <div class="item indirizzo">
                                alessandro.tamborini@readvice.it
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scheda-content">
                    <div class="scheda-table single-column">
                        <!--<div class="scheda-row">
                            <div class="item">
                                <div class="item-title"> Invia la richiesta per ricevere i dati catastali
                                </div>
                            </div>
                        </div>-->
                        <div class="scheda-table">
                            <div class="item">
                                <div class="item-list form auto-height">
                                    <div class="form-item left" style="width: 33%;">
                                        <label>Password attuale</label>
                                        <input type="password" >
                                    </div>
                                    <div class="form-item left" style="width: 33%;">
                                        <label>Password nuova</label>
                                        <input type="password">
                                    </div>
                                    <div class="form-item left" style="width: 33%;">
                                        <label>Ripeto password nuova</label>
                                        <input type="password" class="alert">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scheda-table single-column">
                            <div class="item">
                                <div class="item-list ">
                                    <button class="button forward right">Salva</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>