<div class="main-header">
  <div class="logo"></div>
  <div class="header-bar">
    <img src="/assets/img/readvice-logo@2x.png" class="title">
  </div>
  <div class="tools">
    <a href="#" class="hints tasks"><span>10</span></a>
    <a href="#" class="hints alerts"><span>10</span></a>
    <a href="#" class="user">{{getUtenteEmail()}}</a>
  </div>
</div>

<div class="main-body body">
  <div class="content-area">
    <div class="tool-area">
      <div class="tool-table">
        <div class="tool-row">
          <div class="tool">
            <button (click)="goToHome()" style="float: left" class="button">&lt;</button>
            <span>Nuovo cliente:</span>
            <input type="text" placeholder="nome" [(ngModel)]="nuovoCliente.nome">
            <input type="text" placeholder="cognome" [(ngModel)]="nuovoCliente.cognome">
            <input type="text" placeholder="CF" [(ngModel)]="nuovoCliente.codice_fiscale">
            <input type="text" placeholder="Email" [(ngModel)]="nuovoCliente.email">
          </div>
        </div>
        <div class="tool-row">
          <div class="tool">
            <span>Invia la richiesta per ricevere i dati catastali</span>
            <a href="#" style="float: right" class="button add">Invia la richiesta &gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-area">
    <div class="header">
      <div class="row">
        <div class="header-cell">
          <span class="small">Nessun cliente selezionato</span>
        </div>
      </div>
    </div>
    <div class="list">
      <ul class="lista-immobile">

      </ul>
    </div>
    <div class="footer table">

    </div>
  </div>
</div>